
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                這是一個ASP.NET C# MVC的Demo網站
            </p>
        </div>
    </section>
}
<h3>本網站使用的相關技術如下：</h3>
<ol class="round">
    <li class="one">
        <h5>ASP.NET C#</h5>
        <span>&nbsp;</span>
    </li>

    <li class="two">
        <h5>JQuery</h5>
        <span>&nbsp;</span>
    </li>

    <li class="three">
        <h5>MVC架構</h5>
        <span>&nbsp;</span>
    </li>

    <li class="four">
        <h5>Entity Framework</h5>
        <span>&nbsp;</span>
    </li>

    <li class="five">
        <h5>ASP.NET Web API</h5>
        <span>&nbsp;</span>
    </li>

    <li class="six">
        <h5>Unit Test</h5>
        <span>&nbsp;</span>
    </li>
</ol>
